<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
    *appShowAuthed="true"
  >
    <mat-toolbar color="primary" class="mat-elevation-z6 toolbar-menu">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/{{ link.url }}" *ngFor="let link of links">
        {{ link.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <app-tool-bar (toggleSidenav)="sidenav.toggle()"></app-tool-bar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
    <app-layout-footer></app-layout-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
