a {
    color: white;
    text-decoration: none;
    font-family: source sans pro, sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.button-span {
    margin-left: 5px;
}
