<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button [routerLink]="['/']">XDD Market</a>
  <span class="fill-remaining-space"></span>

  <!-- <a mat-button [routerLink]="['/']">Home</a>
  <a mat-button [routerLink]="['/login']">Signin</a>
  <a mat-button [routerLink]="['/register']">Signup</a> -->

  <!-- Show this for logged out users -->
  <a mat-button [routerLink]="['/']" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a
    *appShowAuthed="false"
    mat-button
    [routerLink]="['/login']"
    routerLinkActive="active"
  >
    <mat-icon>login</mat-icon>
    Sign in
  </a>
  <a
    *appShowAuthed="false"
    mat-button
    [routerLink]="['/register']"
    routerLinkActive="active"
  >
    <mat-icon>person_pin_circle</mat-icon>
    Sign up
  </a>

  <!-- Show this for logged in users -->
  <a
    *appShowAuthed="true"
    mat-button
    [routerLink]="['/register']"
    routerLinkActive="active"
  >
    <mat-icon>account_circle</mat-icon>
    <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
    Welcome {{ currentUser.username }}！
  </a>

  <a *appShowAuthed="true" mat-button (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </a>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
