.grid-tile {
    overflow: scroll;
}
.grid-card {
    max-width: 400px;
    margin: 10px;
    overflow: scroll;
}

.grid-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}

.title-card {
    text-align: center;
}
