<!-- <mat-card>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <mat-card class="title-card">
        <input type="hidden" value="" #prodId />
        <!-- <button mat-raised-button color="primary" class="top-button" (click)="removeAll()">
            Remove All Products
        </button> -->
        <!-- I add placeOrder function -->
        <button mat-raised-button color="primary" class="top-button"  (click)=placeOrder()> 
            Place Order
        </button>
    </mat-card>
    <!-- <mat-card class="title-card" *ngIf="loading">
        Loading Cart...
    </mat-card> -->
    <mat-card class="title-card" *ngIf="!loading && results.length <= 0">
        There is No Products are here ...yet!
    </mat-card>
    <div class="product-container">
        <div class="grid-tile" *ngFor="let item of results.items">
            <mat-card class="grid-card">
                <mat-card-header>
                    <div mat-card-avatar class="grid-header-image"></div>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{ cart.imageUrl }}" alt="" />
                <mat-card-content>
                    <p>Quantity: {{ item.quantity }}</p>
                    <p>Price/per:{{ item.price }}</p>
                </mat-card-content>
                <!-- <mat-card-actions>
                    <input type="hidden" value="{{ cart.productId }}" #prodId />
                    <button mat-raised-button color="primary" (click)="addToCart(prodId.value)">
                        Place Order
                    </button>
                    <button mat-raised-button color="primary" (click)="remove(prodId.value)">
                        remove
                    </button>
                </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
</mat-card> -->
