<mat-card>
    <div [hidden]="!loading">
        Loading products...
    </div>

    <div [hidden]="loading || results.length">
        No products are here... yet.
    </div>
    <div class="product-container">
        <div class="grid-tile" *ngFor="let product of results">
            <mat-card class="grid-card">
                <mat-card-header>
                    <div mat-card-avatar class="grid-header-image"></div>
                    <mat-card-title>{{ product.name }}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{ product.imageUrl }}" alt="" />

                <mat-card-content>
                    <p>{{ product.description }}</p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <input type="hidden" value="{{ product.userId }}" #userid />
                <input type="hidden" value="{{ currentUser._id }}" #cuid />
                <mat-card-actions *ngIf="userid.value != cuid.value">
                    <input type="hidden" value="{{ product._id }}" #prodId />
                    <button
                        mat-raised-button
                        color="primary"
                        matTooltip="Add to Shopping Cart"
                        (click)="addToCart(prodId.value)"
                    >
                        Cart
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        matTooltip="Place an Order"
                        (click)="buy()"
                    >
                        Buy
                    </button>
                </mat-card-actions>
                <mat-card-actions *ngIf="userid.value == cuid.value" color="warn">
                    This is your product, you can not buy it!
                </mat-card-actions>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
    </div>
</mat-card>
